[Desktop Entry]
Type=Application
Name=Pandemonium
GenericName=Text Editor
Comment=A GPU-native text editor for conducting agents
Exec=pandemonium
Terminal=false
Categories=Development;TextEditor;IDE;
StartupWMClass=pandemonium
